<ion-header class="mobile-header">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="fontt ion-text-center textt">ScoolX</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-row class="header ion-align-items-center new-background-color">
  <ion-col size="2" class="backk">
    <img src="../../../assets/images/fire.png" width="50px" />
  </ion-col>
  <ion-col size="8" class="ion-text-center new-background-color">
    <ion-button
      fill="clear"
      color="blue"
      routerLink="/"
      routerDirection="root"
      routerLinkActive="active-item"
      [routerLinkActiveOptions]="{ exact: true }"
      class="fontt"
    >
      Home
    </ion-button>

    <ion-button
      fill="clear"
      color="blue"
      routerLink="/courses"
      routerDirection="root"
      routerLinkActive="active-item"
      class="fontt"
    >
      Courses
    </ion-button>

    <ion-button
      fill="clear"
      color="blue"
      routerLink="/admin-portal"
      routerDirection="root"
      routerLinkActive="active-item"
      class="fontt"
    >
      Admin Panel
    </ion-button>
  </ion-col>

 
  <ion-col size="2" class="ion-text-right">
    <img
      src="https://img.icons8.com/dusk/64/000000/login-rounded-right.png"
      style="width: 15%; height: 15%"
      (click)="settingsPopover()"
    />
  </ion-col>

  
</ion-row>
