.wrapper {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.wrapper:before {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0%;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.fontt {
  font-family: "TransRobotics";
  font-size: 25px;
}
.card2 {
  width: 30%;
}
.coll {
  --ion-grid-column-padding: 100px;
}
.padd {
  padding-top: 5px;
}
.creator {
  font-family: "TransRobotics";
  font-size: 25px;
  color: blue;
}
#rich-text-body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  font-weight: lighter;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 20px 20px;
  padding: 2%;
}
#video {
  height: auto;
  max-width: 140%;
}
h2 {
  font-family: TransRobotics;
  font-size: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 25px;
  }
}
