<ion-content>
  <app-header></app-header>
  <div class="outer">
    <h3 class="ion-text-center fontt">Lessons</h3>
    <ion-item-divider class="dash"> </ion-item-divider>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="10" size-lg="8" size-xl="6">
          <ion-card>
            <ion-grid>
              <ion-card-content class="wrapper">
                <ion-row>
                  <iframe
                    [src]="url"
                    width="1080"
                    height="720"
                    frameborder=""
                    allow="autoplay; fullscreen; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </ion-row>
              </ion-card-content>
              <ion-card-content>
                <ion-row>
                  <ion-card-subtitle class="fontt">{{desc}}</ion-card-subtitle>
                </ion-row>
                <ion-row>
                  <ion-card-subtitle class="fontt padd">By: </ion-card-subtitle>

                  <ion-card-subtitle class="creator padd"
                    >{{creator}}
                  </ion-card-subtitle>
                </ion-row>
              </ion-card-content>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>

      <div *ngIf="data as content">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{content.mainHeading}}</ion-card-title>
            <ion-card-subtitle>{{content.subHeading}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> {{content.description}} </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-icon name="code-working-outline"> </ion-icon>
            <ion-label> Code</ion-label>
            <ion-button fill="outline" slot="end">Copy</ion-button>
          </ion-item>

          <ion-card-content> {{content.code}} </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label>Image Label</ion-label>
          </ion-item>
          <img src="../../../assets/images/nmps.png" />
        </ion-card>
      </div>
    </ion-grid>
  </div>
</ion-content>
