<ion-content>
  <ion-card>
    <div
      style="
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
      "
    >
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <button
            class="button-54"
            role="button"
            style="margin-bottom: 30px; height: 45px; padding-bottom: 25px"
            (click)="loginGoogle()"
          >
            <img
              src="../../../assets/icon/g-logo.png"
              style="height: 25px; width: 25px"
            />
            Sign in with Google
          </button>
        </ion-row>

        <h1
          style="
            font-family: 'Staatliches', cursive;
            color: azure;
            text-align: center;
            margin-top: 1px;
            margin-bottom: 10px;
          "
        >
          Log in To Continue
        </h1>
        <ion-row>
          <h2 style="font-family: monospace; margin-bottom: 0%">No Account?</h2>
          <button
            class="button-54"
            style="height: 25px; color: slateblue; margin: 15px 20px 10px 120px"
            role="button"
            (click)="settingsPopover()"
          >
            SignUp
          </button>
        </ion-row>

        <ion-item-divider
          class="dash"
          style="background-color: #1e1e1e; margin-top: 0%"
        >
        </ion-item-divider>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
          <h1
            style="
              font-style: italic;
              font-weight: bold;
              font-family: monospace;
              margin-top: 0%;
            "
          >
            Email
          </h1>
          <ion-item>
            <!-- <ion-label position="floating">Email</ion-label> -->
            <ion-input
              formControlName="email"
              autocomplete="on"
              type="email"
              name="email"
              style="background-color: slateblue; opacity: 0.3"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="isSubmitted && errorControl.email.errors"
            class="error ion-padding"
          >
            <div *ngIf="errorControl.email.errors.required">
              Email is required
            </div>
            <div *ngIf="errorControl.email.errors.valid">
              Email must be a valid email address
            </div>
          </div>
          <h1
            style="
              font-style: italic;
              font-weight: bold;
              font-family: monospace;
              margin-top: 0%;
            "
          >
            Password
          </h1>
          <ion-item lines="full">
            <!-- <ion-label position="floating">Password</ion-label> -->
            <ion-input
              autocomplete="on"
              type="password"
              name="password"
              style="margin-bottom: 0%; color: blueviolet"
              minlength="6"
              formControlName="password"
              style="background-color: slateblue; opacity: 0.3"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="isSubmitted && errorControl.password.errors"
            class="error ion-padding"
          >
            <div *ngIf="errorControl.password.errors.required">
              Password is required
            </div>
            <div *ngIf="errorControl.password.errors.minlength">
              Password should be min 6 chars long.
            </div>
          </div>

          <ion-item-divider
            class="dash"
            style="background-color: #1e1e1e; margin-top: 0%"
          >
          </ion-item-divider>
          <ion-row>
            <button
              class="button-54"
              style="
                color: slateblue;
                margin-top: 25px;
                text-align: center;
                margin-left: 300px;
              "
              role="button"
            >
              Login
            </button>
          </ion-row>
        </form>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
