<ion-content>
  <ion-card>
    <div
      style="
        padding-top: 5px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 5px;
      "
    >
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <img
            src="../../../assets/images/stripebanner.PNG"
            style="height: 150px; width: 100%"
          />
        </ion-row>

        <h1
          style="
            font-family: 'Staatliches', cursive;
            color: azure;
            text-align: center;
            margin-top: 20px;
          "
        >
          Enter Your Payment Details
        </h1>

        <ion-item-divider class="dash" style="background-color: #1e1e1e">
        </ion-item-divider>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
          <h1
            style="
              font-style: italic;
              font-weight: bold;
              font-family: monospace;
              margin: 0%;
            "
          >
            Email
          </h1>
          <ion-item>
            <!-- <ion-label position="floating">Email</ion-label> -->
            <ion-input
              formControlName="email"
              autocomplete="on"
              type="email"
              name="email"
              style="background-color: slateblue; opacity: 0.3"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="isSubmitted && errorControl.email.errors"
            class="error ion-padding"
          >
            <div *ngIf="errorControl.email.errors.required">
              Email is required
            </div>
            <div *ngIf="errorControl.email.errors.valid">
              Email must be a valid email address
            </div>
          </div>

          <h1
            style="
              font-style: italic;
              font-weight: bold;
              font-family: monospace;
              margin: 0%;
            "
          >
            Card Information
          </h1>
          <ion-item lines="full">
            <!-- <ion-label position="floating">Password</ion-label> -->
            <ion-input
              autocomplete="on"
              type="text"
              name="password"
              style="margin-bottom: 0%; color: blueviolet"
              minlength="6"
              formControlName="password"
              style="background-color: slateblue; opacity: 0.3"
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-label position="floating">Password</ion-label> -->
            <ion-input
              autocomplete="on"
              type="text"
              placeholder="Expiry Date e.g: xx/xx"
              name="password"
              style="margin-bottom: 0%; color: blueviolet; margin-right: 10px"
              minlength="5"
              maxlength="5"
              formControlName="password"
              style="background-color: slateblue; opacity: 0.3; display: flex"
            ></ion-input>
            <ion-input
              autocomplete="on"
              type="password"
              placeholder="CVV e.g: xxx"
              name="password"
              style="margin-bottom: 0%; color: blueviolet"
              minlength="3"
              maxlength="3"
              formControlName="password"
              style="background-color: slateblue; opacity: 0.3; display: flex"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="isSubmitted && errorControl.password.errors"
            class="error ion-padding"
          >
            <div *ngIf="errorControl.password.errors.required">
              Password is required
            </div>
            <div *ngIf="errorControl.password.errors.minlength">
              Password should be min 6 chars long.
            </div>
          </div>

          <h1
            style="
              font-style: italic;
              font-weight: bold;
              font-family: monospace;
              margin: 0%;
            "
          >
            Name on Card
          </h1>
          <ion-item style="margin-bottom: 0%">
            <!-- <ion-label position="floating">Password</ion-label> -->
            <ion-input
              autocomplete="on"
              type="text"
              name="confirmPassword"
              style="margin-bottom: 0%; color: blueviolet"
              formControlName="confirmPassword"
              style="background-color: slateblue; opacity: 0.3"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="isSubmitted && errorControl.confirmPassword.errors"
            class="error ion-padding"
          >
            <div *ngIf="errorControl.confirmPassword.errors.required">
              Confirm Password is required
            </div>
            <div *ngIf="errorControl.confirmPassword.errors.mustMatch">
              Passwords must match.
            </div>
          </div>

          <h1
            style="
              font-style: italic;
              font-weight: bold;
              font-family: monospace;
              margin: 0%;
            "
          >
            Country
          </h1>
          <ion-item style="margin-bottom: 0%">
            <!-- <ion-label position="floating">Password</ion-label> -->
            <ion-input
              autocomplete="on"
              type="text"
              name="confirmPassword"
              style="margin-bottom: 0%; color: blueviolet"
              formControlName="confirmPassword"
              style="background-color: slateblue; opacity: 0.3"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="isSubmitted && errorControl.confirmPassword.errors"
            class="error ion-padding"
          >
            <div *ngIf="errorControl.confirmPassword.errors.required">
              Confirm Password is required
            </div>
            <div *ngIf="errorControl.confirmPassword.errors.mustMatch">
              Passwords must match.
            </div>
          </div>

          <ion-item-divider
            class="dash"
            style="background-color: #1e1e1e; margin-top: 0%"
          >
          </ion-item-divider>
          <ion-row>
            <button
              class="button-54"
              style="color: slateblue; margin-top: 25px; margin-left: 300px"
              role="button"
            >
              CONFIRM
            </button>
          </ion-row>
        </form>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
