<ion-content>
  <app-header></app-header>

  <!-- <div class="spacer layer2 flip"></div> -->
  <!-- <video width="320" height="240" autoplay>
    <source src="intro.mp4" type="video/mp4" />

    Your browser does not support the video tag.
  </video> -->
  <section class="pink section2">
    <div class="heading">
      <h1>Welcome to Telic Education</h1>
    </div>
  </section>
  <div class="spacer layer2"></div>
  <div class="footer">
    <p>© 2021. All rights reserved by Telic Solutions, Inc</p>
    <a href="link">telicsolutions.com</a>
    <div class="f2">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-linkedin"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-youtube"></ion-icon>
    </div>
  </div>

  <!-- <section class="card-list">
    <article class="card">
      <header class="card-header">
        <p>Sep 11th 2020</p>
        <h2>Recently Watched</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="../../assets/images/nmps.png" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix fontt">Author</div>
          Jeff Delaney
        </div>
      </div>

      <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div>
    </article>

    <article class="card">
      <header class="card-header">
        <p>Sep 11th 2020</p>
        <h2>Recently Watched</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="../../assets/images/nmps.png" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix fontt">Author</div>
          Jeff Delaney
        </div>
      </div>

      <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div>
    </article>

    <article class="card">
      <header class="card-header">
        <p>Sep 11th 2020</p>
        <h2>Recently Watched</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="../../assets/images/nmps.png" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix fontt">Author</div>
          Jeff Delaney
        </div>
      </div>

      <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <p>Sep 11th 2020</p>
        <h2>Recently Watched</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="../../assets/images/nmps.png" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name fontt">
          <div class="author-name-prefix fontt">Author</div>
          Jeff Delaney
        </div>
      </div>

      <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <p>Sep 11th 2020</p>
        <h2>Recently Watched</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="../../assets/images/nmps.png" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix fontt">Author</div>
          Jeff Delaney
        </div>
      </div>

      <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <p>Sep 11th 2020</p>
        <h2>Recently Watched</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="../../assets/images/nmps.png" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix fontt">Author</div>
          Jeff Delaney
        </div>
      </div>

      <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <p>Sep 11th 2020</p>
        <h2>Recently Watched</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="../../assets/images/nmps.png" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix fontt">Author</div>
          Jeff Delaney
        </div>
      </div>

      <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div>
    </article>
    <article class="card">
      <header class="card-header">
        <p>Sep 11th 2020</p>
        <h2>Recently Watched</h2>
      </header>

      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="../../assets/images/nmps.png" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name">
          <div class="author-name-prefix fontt">Author</div>
          Jeff Delaney
        </div>
      </div>

      <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div>
    </article>
  </section> -->
</ion-content>
